/* Navbar */
body {
    overflow-x: hidden;
}

.hero-section {
    background-color: #F1F3FF;
    min-height: 515px;
}

.logoBinar {
    padding-left: 100px;
}

#menu>a {
    color: black;
    padding-right: 30px;
}

/* Hero Section */
#hero {
    margin-left: 65px;
}

#welcome {
    margin-left: 50px;
    margin-top: 100px;
}

#welcome>h1 {
    margin-bottom: 30px;
    font-weight: bold;
}

#welcome>p {
    margin-bottom: 30px;
    padding-right: 180px;
}

#car {
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;

}

/* Our Service */
#girl-pict {
    padding-left: 100px;
    padding-top: 100px;
    margin-left: 50px;
}

#best-rental {
    margin-top: 140px;
    margin-right: 40px;
    padding-right: 10px;
    padding-left: 50px;
}

/* Why Us? */
.judul {
    padding-left: 135px;
    margin-top: 150px;
    padding-bottom: 15px;
}

.whyuscontainer {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
}

.whyuscontainer>.card {
    border-radius: 10px;
    width: 18rem;
    height: 12rem;
}

.whyuscontainer>.card>.card-body {
    padding-right: 35px;
}

.caption {
    font-weight: bold;
}

.kartu>p {
    font-size: 14px;
    padding-top: 20px;
}

/* tasti */
.testi {
    border: 1px solid #F1F3FF;
    border-radius: 10px;
    background-color: #F1F3FF;
    height: 270px;
    padding-top: 80px;
}

.bintang {
    display: flex;
    height: 20px;

}

.bintang>.star {
    margin-left: -215px;
    width: 100px;
}

.testiContent>p {
    font-size: 15px;
}

.foto {
    height: 50%;
    width: 60%;
}


#owl-container {
    margin-top: 100px;
    width: 150%;
    left: -25%;
    position: relative;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #c4c4c4 !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #5CB85F !important;
    outline: none;
}

.owl-theme .owl-nav [class*=owl-]:hover,
.owl-theme .owl-nav [class*=owl-]:focus {}

.item {
    height: 300px;
    background-color: #F1F3FF;
    font-size: 50px;
    color: black;
    text-align: center;
}

/* CTA Banner */
.banner {
    background-color: #0D28A6;
    color: white;
    text-align: center;
    width: 75%;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
}

.judul-banner {
    padding-top: 60px;
    font-size: 36px;
    font-weight: bold;
}

.isi-banner {
    font-size: 14px;
    padding-left: 280px;
    padding-right: 280px;
    padding-top: 12px;
}

.tombolCTA {
    margin-top: 20px;
}


/* faq */
#faq {
    margin-left: 80px
}

.accordion {
    width: 620px;
    margin-right: 80px;
}

.accordion-item {
    margin-bottom: 15px;
}


/* footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 140px;
    margin-left: 180px;
    margin-right: 280px;
}

#filter-box {
    position: absolute;
    z-index: 1090;
    margin-top: -70px;
    margin-left: 90px;
    font-size: 12px;
    width: 70%;
}

.background-filter {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    display: none;
}

.card-body>.filter {
    padding: 1.8rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#select-driver,
#input-jemput,
#input-tanggal,
#input-penumpang,
#button-cari {
    font-size: 12px;
}

#cars-container {
    margin-top: 55px;
    width: 1135px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

/* Responsive */
@media(max-width: 991px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        z-index: 1000;
    }

    .navbar-collapse {
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-x: hidden;
    }

    .navbar-nav {
        background-color: white;
        height: 100vh;
        width: 50%;
        left: 100%;
        position: absolute;
        transition: left .35s ease;
    }

    .navbar-collapse.collapsing {
        transition: background-color .35s ease;
    }

    .navbar-collapse.show .navbar-nav {
        transition: left .35s ease;
        left: 50%;
    }

    .cross {
        margin: auto;
        margin-top: 50px;
        color: black;
        text-decoration: none;
    }

    .bcr {
        margin-right: 60%;
        color: black;
        text-decoration: none;
    }

    .hero-section {
        background-color: #F1F3FF;
        min-height: 615px;
    }

    .logoBinar {
        padding-left: 20px;
    }

    #menu>a {
        color: black;
        padding-right: 30px;
        margin-left: 10px;
    }

    #menu>button {
        margin-left: 10px;
        width: 50%;
    }

    #welcome {
        margin-top: 50px;
        margin-left: 10px;

    }

    /* Hero Section */
    .container-fluid {
        padding-right: 0px;
    }

    #hero {
        margin-left: 0px;
        display: flex;
        flex-direction: column;

    }

    #welcome>h1 {
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 11vw;
    }

    #welcome>p {
        margin-bottom: 30px;
        padding-right: 20px;
        font-size: 3.6vw;
    }

    #car {
        padding-top: 0px;
        padding-right: 0px;
        min-height: 260px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }

    .mobil {
        height: 100%;
        width: 100%;
    }

    /* Our Service */
    .posOS {
        display: flex;
        flex-direction: column;
    }

    #girl-pict {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 70px;
        margin-left: 0px;
    }

    .perempuan {
        height: 100%;
        width: 95%;
    }

    #best-rental>h3 {
        font-size: 6.5vw;
    }

    #best-rental>.sewa {
        padding-right: 5%;
    }

    #best-rental {
        margin-top: 50px;
        margin-right: 0px;
        padding-left: 30px;
        font-size: 4vw;
    }

    /* Why Us? */
    .judul {
        text-align: center;
        padding-left: 0px;
        margin-top: 50px;
        padding-bottom: 15px;
    }

    .judul>h3 {
        font-size: 7vw;
    }

    .judul>p {
        font-size: 4vw;
    }

    .whyuscontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-left: 1%;
        margin-right: 1%;
        font-size: 30px;
    }

    .whyuscontainer>.card {
        border-radius: 15px;
        width: 90%;
        height: 80%;
    }

    .whyuscontainer>.card>.card-body {
        padding-right: 10%;
    }

    .caption {
        font-weight: bold;
    }

    .card>.kartu {
        padding-left: 30px;
    }

    .kartu>h6 {
        font-size: 5vw;
    }

    .kartu>p {
        font-size: 3vw;
        padding-top: 20px;
    }

    .kartu>.card-text {
        font-size: 4vw;
    }

    img.logoWU {
        height: 100%;
        width: 15%;
    }

    .kartu>.WU {
        margin-top: 20px;
    }

    /* Testimony */
    .testi-header {
        margin-top: 100px;
        margin-bottom: 40px;
    }

    .overflow {
        overflow: hidden;
        height: 400px;
    }

    .carousel {
        width: 130%;
        left: -15%
    }

    .testi {
        border: 1px solid #F1F3FF;
        border-radius: 10px;
        background-color: #F1F3FF;
        height: 270px;
        padding-top: 10px;
    }

    #foto {
        height: 80px;
    }

    #konten {
        padding-bottom: 200%;
    }

    .bintang {
        /* display: flex; */
        margin-left: 120px;
        width: 10px;
    }

    .bintang>.star {
        margin-left: -120px;
    }

    #coba {
        text-align: left;
        margin-left: 90px;
        margin-right: 80px;
    }

    .testiContent>p {
        font-size: 15px;
        padding-right: 350px;
    }

    .testiContent {
        text-align: left;
        padding-right: 100px;
        margin-left: 180px;
    }

    .foto {
        height: 100%;
        width: 60%;
    }


    #owl-container {
        margin-top: 100px;
        width: 150%;
        left: -25%;
        position: relative;
    }

    .item {
        height: 300px;
        background-color: #F1F3FF;
        font-size: 50px;
        color: black;
        text-align: center;
    }

    /* CTA Banner */
    .banner {
        background-color: #0D28A6;
        color: white;
        text-align: center;
        width: 87%;
        height: 75%;
        margin: auto;
        margin-top: 30px;
        border-radius: 15px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .judul-banner {
        padding-top: 60px;
        font-size: 30px;
        font-weight: bold;
    }

    .isi-banner {
        font-size: 14px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 12px;
    }

    .tombolCTA {
        margin-top: 0px;
        margin-bottom: 60px;
    }


    /* faq */
    #faq {
        margin-left: 0px;
        text-align: center;
    }

    #faq>h3 {}

    .listFAQ {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .accordion {
        width: 100%;
        margin-right: 0px;
    }

    .accordion-item {
        margin-bottom: 15px;
    }

    .flexFAQ {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    /* footer */
    .footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .listFooter {
        width: 360%;
        display: flex;
        flex-direction: column;
    }

    .copyright>p {
        margin-top: 10px;
    }
}